.MovieDetail {
    width: 400px;
    margin: 0 auto;
  }
  
  .MovieDetail .profile-head {
    display: flex;
    align-items: center;
  }
  
  .MovieDetail .profile-head img {
    display: block;
    width: 64px;
    height: 64px;
    border-radius: 32px;
    margin-right: 1rem;
  }
  
  .MovieDetail .profile-head .name {
    font-weight: bold;
  }